<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>aboutMeServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.AboutMeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aboutMeServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calendarOAuthServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.CalendarOAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calendarOAuthServlet</servlet-name>
        <url-pattern>/u/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>imageUploadUrlServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.ImageUploadUrlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageUploadUrlServlet</servlet-name>
        <url-pattern>/image-upload-url</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginStatusServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.LoginStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginStatusServlet</servlet-name>
        <url-pattern>/login-status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mapServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.MapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mapServlet</servlet-name>
        <url-pattern>/museum-data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>messageFeedServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.MessageFeedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>messageFeedServlet</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>messageServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>messageServlet</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>oauth2Callback</servlet-name>
        <servlet-class>com.google.codeu.servlets.OAuth2Callback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauth2Callback</servlet-name>
        <url-pattern>/oauth2callback/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statsServlet</servlet-name>
        <servlet-class>com.google.codeu.servlets.StatsPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>statsServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>any</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>